<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}} {{#if @site.description}}is-head-b--a_n{{else}}is-head-b--n--a{{/if}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}{{#is "tag"}}{{#if tag.feature_image}} is-head-transparent{{/if}}{{/is}}{{#match @custom.header_style "Accent color"}} is-head-brand{{/match}}{{#match @custom.header_style "Dark"}} is-head-dark{{/match}}">
    <div class="gh-site">
        <header id="gh-head" class="gh-head gh-outer">
            <div class="gh-head-inner gh-inner">
                {{#if @site.description}}
                    <a class="gh-head-description" href="{{@site.url}}">{{@site.description}}</a>
                {{/if}}

                <div class="gh-head-brand">
                    <div class="gh-head-brand-wrapper">
                        <a class="gh-head-logo" href="https://mvst.co">
                            {{#if @site.logo}}
                                <img src="{{@site.logo}}" alt="{{@site.title}}">

                                {{#if @custom.white_publication_logo_for_transparent_header}}
                                    <img src="{{@custom.white_publication_logo_for_transparent_header}}" alt="{{@site.title}}">
                                {{/if}}
                            {{else}}
                                {{@site.title}}
                            {{/if}}
                        </a>
                    </div>
                    <button class="gh-search gh-icon-btn hidden" data-ghost-search>{{> "icons/search"}}</button>
                    <button class="gh-burger"></button>
                </div>

                <nav class="gh-head-menu hidden">
                    {{navigation}}
                </nav>

                <div class="gh-head-actions">
                    <a href="https://mvst.co{{t 'local'}}services">{{t "Services"}}</a>
                    <a href="https://mvst.co{{t 'local'}}{{t 'our-work'}}">{{t "Work"}}</a>
                    <a href="https://blog.mvst.co{{ t 'local'}}">Blog</a>
                    <a href="https://mvst.co{{t 'local'}}{{t 'career'}}">{{t "Career"}}</a>
                    <a href="https://mvst.co{{t 'local'}}{{t 'about-us'}}">{{t "About"}}</a>
                        <div class="language-selector" id="language-selector-english">
                            <a class="language">
                                <p>🇬🇧 <span class="ifsmall">English</span></p>
                                <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-onkibi"><path fill="currentColor" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>
                            </a>
                            <div class="overlay invisible" id="overlay">

                            </div>
                            <div class="options invisible" id="options">
                                <a>🇬🇧  English  <svg width="14" height="14" viewBox="0 0 14 14" focusable="false" class="chakra-icon css-1jgm6rx"><g fill="currentColor"><polygon points="5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039"></polygon></g></svg></a>
                                <div class="divider"></div>
                                <a href="https://blog.mvst.co/de">🇩🇪  German</a>
                            </div>
                        </div>
                        <div class="language-selector" id="language-selector-deutsch">
                            <a class="language">
                                <p>🇩🇪 <span class="ifsmall">Deutsch</span></p>
                                <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-onkibi"><path fill="currentColor" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>
                            </a>
                            <div class="overlay invisible" id="overlay">

                            </div>
                            <div class="options invisible" id="options">
                                <a>🇩🇪  Deutsch  <svg width="14" height="14" viewBox="0 0 14 14" focusable="false" class="chakra-icon css-1jgm6rx"><g fill="currentColor"><polygon points="5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039"></polygon></g></svg></a>
                                <div class="divider"></div>
                                <a href="https://blog.mvst.co">🇬🇧  Englisch</a>
                            </div>
                        </div>
                    <a class="gh-head-btn gh-btn gh-primary-btn" href="https://mvst.co{{t 'local'}}{{t "Contact"}}">{{t "Contact"}} 👋</a>
                    <button class="gh-search gh-icon-btn hidden" data-ghost-search>{{> "icons/search"}}</button>
                    {{#unless @member}}
                        <a href="#/portal/signup" class="hidden" data-portal="signup">Subscribe</a>
                    {{else}}
                        <a class="gh-head-btn gh-btn hidden" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div>
            </div>
        </header>

        {{!-- {{navigation}} --}}

        {{{body}}}

        <footer class="gh-foot gh-outer">
            <div class="gh-foot-inner gh-inner">
                {{^if @member.paid}}
                    <section class="gh-subscribe flex flex-row">
                        <div class="flex flex-col">
                            <h4 class="gh-subscribe-title">{{t "SubscribeTitle"}}</h3>
                            <div class="gh-subscribe-description">{{t "SubscribeDescription"}}</div>
                        </div>
                        <a class="gh-subscribe-btn gh-btn text-black" href="https://mvst.co/contact">{{t "Contact"}} 👋</a>
                        {{^if @member}}
                            <h4 class="gh-subscribe-title hidden">Subscribe to {{@site.title}}</h3>

                            {{#if @custom.email_signup_text}}
                                <div class="gh-subscribe-description hidden">{{@custom.email_signup_text}}</div>
                            {{/if}}

                            <button class="gh-subscribe-btn gh-btn hidden" data-portal="signup">{{> "icons/email"}} Subscribe now</button>
                        {{else}}
                            <h3 class="gh-subscribe-title hidden">Ready for unlimited access?</h3>

                            <div class="gh-subscribe-description hidden">Upgrade to a paid account to get full access to all content.</div>

                            <button class="gh-subscribe-btn gh-btn hidden" data-portal="account/plans">Upgrade now</button>
                        {{/if}}
                    </section>
                {{/if}}

                <nav class="gh-foot-menu">
                    <ul class="nav">
                        <li class="nav-services"><a href="https://mvst.co{{t 'local'}}services">{{t "Services"}}</a></li>
                        <li class="nav-solutions"><a href="https://mvst.co{{t 'local'}}{{t 'our-work'}}">{{t "Work"}}</a></li>
                        <li class="nav-about-us"><a href="https://mvst.co{{t 'local'}}{{t 'about-us'}}">{{t "About"}}</a></li>
                        <li class="nav-about-us"><a href="https://mvst.co{{t 'local'}}{{t 'data-privacy'}}">{{t "Data"}}</a></li>
                        <li class="nav-about-us"><a href="https://mvst.co{{t 'local'}}{{t 'imprint'}}">{{t "Imprint"}}</a></li>
                    </ul>
                </nav>

                <div class="gh-copyright" style="text-align:center">
                    {{#unless @custom.footer_text}}
                        <a href="mailto:hello@mvst.co">hello@mvst.co</a>
                        <br>
                        MVST.co © {{date format="YYYY"}}
                    {{else}}
                        {{@custom.footer_text}}
                    {{/unless}}
                </div>
            </div>
        </footer>
    </div>

    {{#is "post, page"}}
        {{> "pswp"}}
    {{/is}}


    <script src="{{asset "built/main.min.js"}}"></script>

    {{ghost_foot}}
</body>

</html>