{{!< dedefault}}

<main class="home-template gh-main gh-outer">
    <div class="gh-inner">
        <section class="gh-topic gh-topic-grid">
            <h2 class="gh-topic-name">
                {{#match pagination.pages ">" 1}}
                    <a href="{{@site.url}}/page/2">Neueste</a>
                {{else}}
                    Neuestes
                {{/match}}
            </h2>

            <div class="gh-topic-content">
                {{#get "posts" include="authors" limit="7" filter="tag:de"}}
                    {{#foreach posts}}
                        {{> "loop-grid-de"}}
                    {{/foreach}}
                {{/get}}
            </div>

            <footer class="gh-topic-footer">
                {{#match pagination.pages ">" 1}}
                    <a class="gh-topic-link" href="{{@site.url}}/page/2">Zeig mehr {{> "icons/arrow"}}</a>
                {{/match}}
            </footer>
        </section>

        {{#if @custom.enter_tag_slugs_for_primary_sections}}
            {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_primary_sections}}]"}}
                {{#foreach tags}}
                    {{> "topic-grid-de"}}
                {{/foreach}}
            {{/get}}

            {{#if @custom.enter_tag_slugs_for_secondary_sections}}
                {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_secondary_sections}}]"}}
                    {{#if tags}}
                        <div class="gh-topic-list">
                            {{#foreach tags}}
                                {{> "topic-grid-de"}}
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            {{/if}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc" limit="3"}}
                    {{#foreach tags}}
                        {{> "topic-grid-de"}}
                    {{/foreach}}
                {{/get}}

                {{#get "tags" include="count.posts" order="count.posts desc"}}
                    {{#if tags.[3]}}
                        <div class="gh-topic-list">
                            {{#foreach tags from="4" limit="3"}}
                                {{> "topic-grid-de"}}
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            {{/match}}
        {{/if}}
    </div>
</main>